@model DoAnChuyenNganh.Models.LoaiDV

@{
    ViewBag.Title = "XoaLDV";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-page">
    <div class="forms">
        <div class=" form-grids row form-grids-right">
            <div class="widget-shadow " data-example-id="basic-forms">
                <div class="form-title">
                    <h3>Bạn có chắc muốn xóa dịch vụ @Model.MaLoaiDV</h3>
                </div>
                <br />
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            Tên thương hiệu:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenLoaiDV)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-sm-offset-2">
                            @Html.ActionLink("Trở lại", "ViewLoaiDV")&emsp;&emsp;&emsp;
                            <input type="submit" value="Đồng ý" class="btn btn-default" />
                        </div>
                        <br />}
                </div>
            </div>
        </div>
    </div>
</div>
